* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.header {
    background: #FFF8F3;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 65px;
    color: #FFFFFF;
    /* text-align: center; */
    padding-top: 174px;
    padding-bottom: 35px;
    padding-left: 307px;
    padding-right: 307px;
    width: 850px;
    text-align: center;
}

.nav-description {
    font-weight: 400;
    font-size: 18px;
    padding-top: 24px;
    color: #FFFFFF;
    width: 600px;
    text-align: center;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background-color: #ff0202;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 16px 12px;
    margin-top: 25px;
}

/* .banner-btn {
    display: flex;
    justify-content: center;
} */

.Section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1-title {
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
}

.sec1-para{
    font-weight: 400;
    font-size: 18px;
    padding-top: 24px;
    width: 600px;
    text-align: center;
}