* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.header {
    background: #FFF8F3;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 65px;
    color: #FFFFFF;
    /* text-align: center; */
    padding-top: 174px;
    padding-bottom: 35px;
    padding-left: 307px;
    padding-right: 307px;
    width: 850px;
    text-align: center;
}

.nav-description {
    font-weight: 400;
    font-size: 18px;
    padding-top: 24px;
    color: #FFFFFF;
    width: 600px;
    text-align: center;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background-color: #ff0202;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 16px 12px;
    margin-top: 25px;
}

/* .banner-btn {
    display: flex;
    justify-content: center;
} */

.Section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1-title {
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
}

.sec1-para {
    font-weight: 400;
    font-size: 18px;
    padding-top: 24px;
    width: 600px;
    text-align: center;
}

.sec1-list-item {
    display: flex;
    list-style: none;
    gap: 40px;
    /* justify-content: space-between; */
}

.sec1-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
    border: none;
    border-radius: 5px;
    padding: 44px 23px;
    margin-top: 26px;
}

.sec1-btn:hover {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FF5959;
    background: #FFEEEE;
    border: 1px solid #FF5959;
    border-radius: 5px;
    padding: 44px 23px;
}

.sec1-input {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-top: 80px;
    margin-bottom: 45px;
    height: 30px;
    width: 760px;
    border: none;
    border-bottom: 1px solid black;
}

/* section 2 starts */

.Section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec2-title {
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.sec2-para {
    font-weight: 400;
    font-size: 18px;
    padding-top: 24px;
    width: 600px;
    text-align: center;
}

.plans {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.plan-item1 {
    padding: 40px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    width: 360px;
    height: 352px;
}

.plan-item2 {
    padding: 40px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    width: 360px;
    height: 352px;
}

.plan-item3 {
    padding: 40px;
    background: #FFF4D6;
    border-radius: 5px;
    width: 360px;
    height: 352px;
}

.icon {
    width: 53px;
    height: 53px;
    padding-top: 63.5px;
}

.plan-title {
    font-weight: 600;
    font-size: 24px;
    padding-top: 25px;
}

.discription {
    font-weight: 400;
    font-size: 16px;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.motiv1 {
    width: 600px;
    height: 477px;
}

.motiv-title{
    font-weight: 600;
    font-size: 30px;
    padding-top: 50px
}

.motiv-discription {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    padding-top: 20px;
}
